<h1>Edit Member</h1>

<%= render 'form' %>

<div>
   <%= gravatar_for @user %>
  <a href="http://gravatar.com/emails">Change Gravatar</a>
</div>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
