
<h1>About</h1>
 <p>
   ProblemShared a new type of social networking site created by Gerard Tamakloe.
 </p>
<a href="/images/developer.jpg" rel="lightbox[developer]" title="Always one eye open!">Picture of the Developer</a>
<a href="/images/family.jpg" rel="lightbox[developer]" title="Family First!"></a>
<a href="/images/garden.jpg" rel="lightbox[developer]" title="My Office!"></a>

<div id="reveal_about" style="display:none; width:auto; height:auto; background:#ccc; text-align:center;">
  <div>
<p>Site Deployed:	http://problemshared.heroku.com </p>
<p>Site Git Info:	https://github.com/Tamakloe/ProblemShared</p>
<p>Gem Deployed:	https://rubygems.org/gems/email_address_validation</p>
<p>Gem Git info: 	https://github.com/Tamakloe/email_address_validation</p>


  </div>
</div>
<ul>

  <li><a href="#" onclick="Effect.SlideDown('reveal_about'); return false;">More Info!</a></li>
  
  
  <li><a href="#" onclick="Effect.SlideUp('reveal_about'); return false;">Show Less!</a></li>
</ul>

