<h1>Contact</h1>
 <p>
   To contact the developer send an e-mail to x10209778@student.ncirl.ie
 </p>
<p>To give feedback on the website click here:<a href="http://problemshared.heroku.com/feedback">feedback page</a>.
