<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="generator" content=
    "HTML Tidy for Windows (vers 14 February 2006), see www.w3.org" />
    <title></title>
  </head>
  <body>
    <h1>
      Help
    </h1><a href=
    "javascript:Effect.Combo('content',%20{duration:%203,%20scaleX:%20true,%20scaleContent:%20true});">Click Me!</a>
    <div id="content" style="display: none;">
      <p>
        Sometimes the most important thing to remember is that you
        can help yourself!
      </p>
      <p>
        How do you learn to solve your problems? Which problem
        solving techniques do we recommend?
      </p>
      <p>
        One of the most effective strategies to improve your
        quality of life is a systematic approach for
        problem-solving
      </p>
      <p>
        It is always a very useful approach to think of successful
        strategies for problems in the past. Train yourself to
        adapt useful problem-solving techniques to new situations!
      </p>
      <p>
        Here is one of many possible models of problem solving.
      </p>
      <ol class="a">
        <li>
          <strong>Problem identification What is my
          concern?</strong>
        </li>
        <li>
          <strong>Goal definition What do I want to achieve or
          change?</strong>
        </li>
        <li>
          <strong>Brainstorming What can I do?</strong>
        </li>
        <li>
          <strong>Consequences What might happen?</strong>
        </li>
        <li>
          <strong>Decision How should I do it?</strong>
        </li>
        <li>
          <strong>Implementation Do it!</strong>
        </li>
        <li>
          <strong>Evaluation Did it work?</strong>
        </li>
      </ol>
      <p>
        These seven simple steps can be applied to nearly all kinds
        of problems in life. Let's go into detail with a problem of
        one of my clients:
      </p>
      <p>
        Daniel is a 52 year old patient with depression and panic
        attacks. One of his major problems was to leave the house
        to go for a walk or consult the doctor or therapist.
      </p>
      <p>
        <b>1. Problem identification</b>
      </p>
      <p>
        Try to give a precise description of your problems. You
        should try to focus on behaviours or skill deficits.
      </p>
      <p>
        <b>2. Goal definition</b>
      </p>
      <p>
        You should try to set a precise goal of your efforts. This
        should be a realistic aim of improvement (not "I want to
        feel better"). Ask yourself: "What do I want to change or
        achieve right now?"
      </p>
      <p>
        <b>3. Brainstorming / Generation of alternatives.</b>
      </p>
      <p>
        Try to think of all possible ways to achieve your goal.
        Think of successful ways of solving problems or achieving
        your goals in the past. Use your creativity and do not
        restrict yourself in any way. Even nonsensical or unusual
        ways might be worth to consider.
      </p>
      <p>
        Write all alternatives on a blank sheet of paper!
      </p>
      <p>
        <b>4. Consider all consequences.</b>
      </p>
      <p>
        Now it is time to think about the positive or negative
        consequences of all possible alternatives. Think about any
        outcome or difficulties of your approaches.
      </p>
      <p>
        This step can be split into substeps:
      </p>
      <p>
        What are the advantages? It is better to look at the
        advantages before looking at the disadvantages, since if
        you start looking at the disadvantages you may get so
        dissillusioned that you cannot think of any advantages.
        Whare are the risks, what care is needed, what problems can
        occur? How do you intuitively feel about the alternatives?
      </p>
      <p>
        <b>5. Make your choice of one possible alternative!</b>
      </p>
      <p>
        It is important to make a clear choice and define a time
        limit for an attempt to reach your goal.
      </p>
      <p>
        <b>6. Do it (Implementation of your decision)</b>
      </p>
      <p>
        Do not worry about being successful. Just do it and see
        what happens...
      </p>
      <p>
        <b>7. Evaluation</b>
      </p>
      <p>
        Now it is time to see what happened. If you have been
        successful: Great!!!! You should think about a reward for
        your efforts!!!!
      </p>
    </div>
  </body>
</html>
