<h1>News for ProblemShared</h1>
<p>
  Get all the latest News on ProblemShared here
</p>

<p> A very good website with Good News! <a href="http://goodnewsstories.org/"> GoodNewsStories</a>




<div id="news"

<p> Some Good New RSS Feeds </p>

     <div class="dropList_header"> Heroic Stories</div>
     <div class="dropList_content">
	<script language="JavaScript" src="http://feed2js.org//feed2js.php?src=http%3A%2F%2Fwww.heroicstories.org%2Fhs.rss&chan=n&num=1&desc=1&date=y&targ=n" 
	type="text/javascript"></script>
    </div>
     <div class="dropList_header"> Health</div>
     <div class="dropList_content">
	<script language="JavaScript" src="http://feed2js.org//feed2js.php?src=http%3A%2F%2Fwww.goodnewsnetwork.org%2Fxml%2Frss2.0%2Fsection%2F8-health.html&chan=n&num=3&desc=1&tz=&targ=y&utf=y"
	type="text/javascript"></script>
    </div>
     <div class="dropList_header"> Family</div>
     <div class="dropList_content">
	<script language="JavaScript" src="http://feed2js.org//feed2js.php?src=http%3A%2F%2Fwww.goodnewsnetwork.org%2Fxml%2Frss2.0%2Fsection%2F4-family-life.html&chan=n&num=3&desc=1&tz=&targ=y&utf=y"
	type="text/javascript"></script>
    </div>

<p> Some General New RSS Feeds </p>

    	<div class="dropList_header"> Irish Times Front Page</div>
	<div class="dropList_content">
	<script language="JavaScript" src="http://itde.vccs.edu/rss2js/feed2js.php?src=http%3A%2F%2Fwww.irishtimes.com%2Ffeeds%2Frss%2Fnewspaper%2Findex.rss&chan=n&num=5&desc=1&date=y&targ=n" 
	type="text/javascript"></script>
	</div>

     <div class="dropList_header"> Irish Times Lastest News</div>
     <div class="dropList_content">
	<script language="JavaScript" src="http://itde.vccs.edu/rss2js/feed2js.php?src=http%3A%2F%2Frss.feedsportal.com%2Fc%2F851%2Ff%2F10838%2Findex.rss&chan=n&num=5&desc=1&date=y&targ=n" 
	type="text/javascript"></script>
    </div>







